/* .layout-builder-form-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 99;
  background-color: white;
  width: 100%;
  left: 0;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
} */

/* Hiding contents that aren't necessary */
.layout-builder-form .form-actions,
[role="complementary"],
.layout-builder-form > .form-type-vertical-tabs {
  display: none;
}

.lb-ui {
  width: 100%;
  background-color: white;
  position: fixed;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  left: 0;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
  max-width: none;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 18px;
}
/* Style when there are unsaved changes */
.js-lb-ui-changed .lb-ui {
}

/* Container style */

.lb-ui__content {
  width: 100%;
  background-color: white;
  padding: 20px 25px;
  max-width: 1271px;
  margin: auto;
  display: flex;
  align-items: center;
}

.lb-ui__content a,
.lb-ui__preview,
.lb-ui__revision {
  margin-right: 20px;
}

.lb-ui__preview {
  display: flex;
  align-items: center;
}
.lb-ui__preview label {
  margin-right: 10px;
}

.lb-ui__revision label {
  margin-left: 10px;
}

.lb-ui .button {
  background: #2196F3;
  display: inline-block;
  padding: 8px 25px;
  color: white;
  -webkit-transform: transform 0.3s;
  -ms-transform: transform 0.3s;
  transition: transform 0.3s;
}


 /* Button styles */
.lb-ui .button-disabled {
  background-color: grey !important;
  pointer-events: none;
  cursor: default;
}

 /* The switch - the box around the slider */
.lb-ui__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.lb-ui__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.lb-ui__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.lb-ui__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .lb-ui__slider {
  background-color: #2196F3;
}

input:focus + .lb-ui__slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .lb-ui__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.lb-ui__slider.round {
  border-radius: 34px;
}

.lb-ui__slider.round:before {
  border-radius: 50%;
}
